@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Public sans;
}

body {
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  margin: 30px 0px;
  text-align: center;
}
h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 20px 0px;
}
h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  margin: 20px 0px;
}
h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
h5 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 2px;
  margin: 20px 0px;
}
a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #1890ff;
  text-decoration: none;
}
small {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 26px;
  margin: 0;
  /* or 260% */

  color: #9d9d9d;
}
.w-full {
  width: 100%;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex{
  display:flex;
  align-items:baseline;
}

.Mui-selected {
  background-color: rgba(142, 65, 254, 0.11) !important;
  color: #8d40ff !important;
}
.h-100vh {
  height: calc(100vh-123px);
}
.css-ctkfgi-MuiFormControl-root-MuiTextField-root {
  padding: 0px !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #8d40ff !important;
}
.Mui-selected {
  background-color: #fff !important;
  color: #8d40ff !important;
  font-weight: bold !important;
}
.css-heg063-MuiTabs-flexContainer {
  background-color: #eeeeee !important;
  border-radius: 10px 10px 0px 0px !important;
}
.hide_scrollbar::-webkit-scrollbar {
  display: none;
}
/* .sidebar_styles{
height:calc(100vh-123px);
overflow:hidden
} */
/* .children_styles{
  height:calc(100vh-123px);
  overflow-y:scroll;
} */
